html,
body,
div,
h1,
h2,
h3,
h4,
ul,
li,
a,
span,
p {
  margin: 0;
  padding: 0;
}
header {
  height: 3rem;
  line-height: 3rem;
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  text-align: center;
  background-color: #fff;
}
header nav {
  display: inline-block;
}
header nav ul {
  list-style-type: none;
}
header nav ul li {
  color: #000;
  display: inline-block;
  padding-right: 1rem;
}
header nav ul li a {
  font-size: 1.5rem;
  color: #000;
  text-decoration: none;
}
header nav ul li:last-child {
  padding-left: 0;
}
main {
  margin-top: 3rem;
}
#content {
  display: block;
  text-align: center;
}
#content .loading {
  text-align: center;
  font-size: 2rem;
  padding-top: 3rem;
}
#content .demon {
  position: fixed;
  top: 0;
  text-align: center;
  width: 100%;
  font-size: 10rem;
  font-size: 20vw;
  opacity: 0.1;
  z-index: -1;
}
#content .article {
  text-align: center;
}
#content .article .title,
#content .article h3 {
  font-size: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
#content .article .description {
  display: inline-block;
  text-align: left;
  width: 30rem;
  margin-bottom: 1rem;
}
#content .article .date {
  margin-bottom: 1rem;
}
#content .article a {
  text-decoration: none;
  color: #808080;
}
#content .article .current-demons {
  margin-bottom: 0.5rem;
}
#content .article .current-demons span {
  display: inline-block;
  margin-right: 1rem;
}
#content .abstract {
  width: 100%;
  text-align: center;
}
#content .abstract .text {
  margin-top: 5rem;
  display: inline-block;
  width: 30rem;
  font-size: 1.5rem;
}
#content .demons {
  width: 100%;
  text-align: center;
}
#content .demons .dem .name {
  font-size: 1.8rem;
}
#content .demons .dem .things {
  display: inline-block;
  width: 20rem;
  font-style: italic;
  margin-bottom: 2rem;
}
