<div class = "abstract">
	<div class="text">
	“Demons of humanity” is a net.art artwork. The server receives RSS feed from some of the biggest international news media sites, and interprets and sorts it. The criteria are that the piece of news has to be negative. All the news are divided using keywords in the domains of several demons, each with a specific field and attributes to it, based loosely on Peter Binsfeld’s classification of demons from 16th century.
	<br/><br/>
On entering the web application, the user is randomly assigned one of the demons and only the news under the domain of that demon is shown.
	<br/><br/>
Each piece of news is stripped to the absolute minimum of information, without images or comments, distancing the visitor even more from the actual events.
	<br/><br/>
The work is aimed at criticizing the desired shock value and multiplication of negative news in corporate media, whilst referring to Baudrillard’s notion of “transparency of evil”, hyper-real evil and terror in the media and the consumable nature of macabre media coverage.

	</div>
</div>