<div class="demons">
{{#each demons}}
<div class="dem">
<div class="demon-description">
<div class="name">
	{{this.name}}
</div>
<div class="things">
	Keywords for his domain:<br/>
	{{#each this.things}}
	{{this}}, 
	{{/each}}
</div>
</div>
</div>
{{/each}}
</div>